@using BPMS.Shared.Layout
@inject HttpClient Http

<div class="bg-primary text-white headerline">
    <DxMenu Orientation="Orientation.Horizontal">
        <Items>
            <DxMenuItem Text="" IconCssClass="fad fa-home fa-2x" NavigateUrl="/" />

            @foreach (var mi in items)
            {
                <NavBarMenuItem MenuItem="mi" />
            }
        </Items>
    </DxMenu>
</div>

@code  {
    List<MenuItem> items = new();

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetFromJsonAsync<List<MenuItem>>("api/Home/GetMenu");
    }
}