@using BPMS.Shared.Layout
@inject HttpClient Http

<div class="bg-primary text-white p-1 headerline">
    <div class="d-inline-block mx-3"><i class="fad fa-user-alien fa-2x"></i></div>
    <div class="d-inline-block headerline"><span class="zh1 align-middle">Test User</span></div>
</div>

<div class="bg-white">
    <DxTreeView AllowSelectNodes="true" @ref="@TaskTree">
        <Nodes>
            @foreach (var child in items)
            {
                <TaskTreeViewItem Item="child" />
            }
        </Nodes>
    </DxTreeView>
</div>


@code {
    DxTreeView TaskTree;

    List<TaskTreeItem> items = new();

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetFromJsonAsync<List<TaskTreeItem>>("api/Task/GetTaskTree");
    }
}
