<div class="info-wrapper bg-white text-primary p-2">
    <div class="version">Version: @typeof(Program).Assembly.GetName().Version</div>
    <div class="copyright">
        <span><i class="fad fa-lg fa-copyright"></i> Copyright Maksym "Uncle Ho" Iliashenko, 2021</span>
    </div>
</div>